@import "../variables";





.card{
    background-color: $light-red;
    width:255px;
    height:250px;
    border-radius:10px;
    position:relative;
    h1, h2, p{
        color:white;
    }
    .card-icon{
        position:absolute;
        right:10px;
    }
}

.card-inner{
    position:absolute;
    bottom:0;
    background-color:$dark-blue;
    width:100%;
    border-radius:10px 10px 10px 10px;
}

.card-content{
    width:65%;
    margin:auto;
    p{
        font-size:0.9em;
    }
    h1{
        margin-top:0.6em;
        font-size:3em;
    }
    .card-caption{
        font-size:0.8em;
        color:$desaturated-blue;
    }
}

.pink{
    background-color:$light-red
}

.orange{
    background-color:$orange;
}

.blue{
    background-color:$soft-blue;
}

.green{
    background-color:$lime-green;
}

.purple{
    background-color:$violet;
}

.yellow{
    background-color:$yellow;
}