@import '../variables';

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.fill-window{
  height:100%;
}

.app{
  background-color:$very-dark-blue;
  display:flex;
  height:100vh;
  align-items:center;
  justify-content:center;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Rubik', sans-serif;
}