.grid{
    display:grid;
    grid-gap: 30px 30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content:space-evenly;
}

//MEDIA - Mobile


@media screen and (max-width: 1123px){
    .grid{
        grid-template-columns:auto auto;
        grid-template-rows:initial;
    }
}

@media screen and (max-width: 590px) {
    .grid{
        grid-template-columns:auto;
        grid-template-rows: 500px auto auto auto auto auto;
    }
}